.article-content{

    margin-bottom: 180px;

    .article-images-2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: $m_p-line-height 12px;
        grid-template-areas: "img img";
    }
    
    .article-images-3{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: $m_p-line-height 12px;
        grid-template-areas: "img img img";
    }

    h1{
        margin-bottom: $d_p-line-height;
        margin-top: $d_p-line-height;
        font-size: $d_h2-font-size;
    }

    .article-images-wrapper{
        margin-bottom: $d_p-line-height;
    }

    p{
        margin-bottom: $d_p-line-height;
        img{
            margin-bottom: $d_p-line-height;
            &:last-child{
                margin-bottom: 0px;
            }
        }
    }

    img{
        margin: auto;
        display: block;
        width: 100%;
        max-width: 100%;
        max-height: 80vh;
    }
    
    & a{
        text-decoration: underline;
        color: $green;
        &::after{
            content: "↗";
            display: inline-block;
            vertical-align: -3px;
            height: 15px;
        }
    }
}

.featured-image{
    // width: calculate_width($d_columns, 10, $d_margin);
    width: 100%;
    picture {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        img{
            width: 100%;
        }
    }
}

@mixin article--mobile{
    .featured-image{
        width: 100%;
        min-height: auto;
        max-height: 320px;
    }
    .article-content{
        .article-images-2{
            grid-template-columns: 1fr;
            grid-template-areas: "img";
        }
        
        .article-images-3{
            grid-template-columns: 1fr;
            grid-template-areas: "img";
        }
        margin-bottom: 80px;
        width: 100%;
        h1{
            margin-bottom: $m_p-line-height;
            margin-top: $m_p-line-height;
            font-size: $m_h2-font-size;
            line-height: 28px;
        }
        .article-images-wrapper{
            margin-bottom: $m_p-line-height;
        }
        p{
            margin-bottom: $m_p-line-height;
        }
        img{
            max-width: 100%;
        }
    }
}