.home-link{
    font-size: 36px;
    color: black;
    text-decoration: none;
    &::after{
        content: "->";
        margin-left: 10px;
        color: $green;
    }
}

.home-team{
    img{
        border-radius: 8px;
    }
}

.home-intro{
    flex: 1 0 auto;
    width: 100%;
    margin-top: $header-height;

    #animation-container {
        height: calc(100vh - #{$header-height});
        top: $header-height;
        position: sticky;

        #back, #external {
            z-index: 2;
        }

        .image-container{
            position: relative;
            height: calc(100vh - #{$header-height + 72px + $d_margin});
            overflow: hidden;

            img{
                position: absolute;
                left: 0;
                top: 0px;
                bottom: 0px;
                right: 0;
                width: 100%;
                margin: auto;
                max-width: $max-width;
                max-height: 100%;
                object-fit: contain;
            }
        }
    }

    .intro-text-wrapper{
        bottom: 0;
        width: 100%;
        max-width: $max-width;
        margin: auto;
        left: 0;
        right: 0;
        padding: 0 $d_margin $d_margin $d_margin;
        box-sizing: border-box;
    }
    
    #intro-text-mobile{
        display: none;
    }
    #intro-text-desktop{
        display: block;
        max-width: 100%;
    }
}

@mixin home--mobile(){
    .home-team{
        img{
            margin-bottom: $m_p-line-height;
        }
    }
    .home-link{
        font-size: 26px;
        float: right;
    }
    .home-intro{
        margin-top: $m_margin;
    
        #animation-container {
            height: calc(100vh - #{65px+$m_margin});
            top: 65px;
    
            .image-container{
                height: calc(100vh - #{65px + 200px + $m_margin});
            }
        }
    
        .intro-text-wrapper{
            padding-left: $m_margin;
            padding-bottom: $m_margin;
            padding-right: $m_margin;
        }
        
        #intro-text-mobile{
            height: 200px;
            max-width: 100%;
            display: block;
        }
        #intro-text-desktop{
            display: none;
        }
        
    }
}