.prototypes-wrapper{
    margin-left: calculate_width_extra_gutter($d_columns, 3, $d_margin);
    display: flex;
    flex-wrap: wrap;
    & .prototype-preview{
        margin-bottom: $d_gutter;
    }
    & .prototype-preview:nth-child(odd){
        margin-right: $d_margin;
    }
}

@mixin prototypes-list--mobile(){
    .prototypes-wrapper{
        margin-left: 0px;
        flex-direction: column;
        & .prototype-preview{
            margin-bottom: $m_p-line-height;
        }
        & .prototype-preview:nth-child(odd){
            margin-right: 0px;
        }
    }
}