.sponsor:nth-child(odd){
    flex-direction: row-reverse !important;
}

.partners{
    background-color: $green;
    color: white;
    width: 100%;
    .partners-container{
        padding: $d_margin;
        max-width: $max-width;
        margin: #{2*$d_p-line-height} auto #{2*$d_p-line-height} auto;
    }
    .logos-wrapper{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        a, > img{
            width: 25%;
            height: 100%;
            max-height: 250px;
            object-fit: contain;
        }
        > a img{
            width: 100%;
            object-fit: contain;
        }
    }
}

@mixin sponsors--mobile{
    .sponsor:nth-child(odd){
        flex-direction: column !important;
    }
    
    .partners{
        .partners-container{
            padding: $m_margin;
            > h1{
                margin-bottom: $m_p-line-height;
            }
        }
        .logos-wrapper{
            a, > img{
                width: 50%;
            }
        }
    }
}