.team-photo{
    width: 100%;
    border-radius: 8px;
}

.department-container{
    margin-bottom: #{3*$d-p_line_height};
}

.people-container{
    h1{
        margin-bottom: $d-p_line_height;
    }
    .cards-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}

