html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
#container{
    max-width: $max-width;
    box-sizing: border-box;
    margin: auto;
    width: 100%;
    padding: $d_margin;
    flex: 1 0 auto;
}
.header{
    flex-shrink: 0;
    max-width: $max-width;
    width: 100%;
    flex-shrink: 0;
}
.footer {
    flex-shrink: 0;
}

// Custom scrollbar

/* Works on Firefox */
html {
    scrollbar-width: thin;
    scrollbar-color: $scrollbar-main $scrollbar-bg;
}

/* Works on Chrome, Edge, and Safari */
html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-thumb {
    background: $scrollbar-bg;
}

html::-webkit-scrollbar-thumb {
    background-color: $scrollbar-main;
    border-radius: 20px;
    border: 3px solid $scrollbar-bg;
}