---
layout: base.njk
---

<a class="back-arrow" href="/{{ locale }}/blog">{{ 'back_to_articles' | i18n }}</a>
<div class="spacer-2"></div>
<p><time datetime="{{ article.date | dateISO }}">{% dateReadable date=article.date, locale=locale %}</time></p>
<div class="spacer-1"></div>
<h1>{{ article[locale].title }}</h1>
<div class="spacer-2"></div>

<div class="featured-image" style="position: relative; background-image: url({{ article.image.base64 }}); background-size: cover;">
  <div style="padding-top: {{100.0 / article.image.aspectRatio}}%;">
    <picture>
        <source srcset="{{ article.image.webpSrcSet }}" type="image/webp" sizes="{{ article.image.sizes }}">
        <source srcset="{{ article.image.srcSet }}" sizes="{{ article.image.sizes }}">
        <img src="{{ article.image.src }}" alt="{{ article.image.alt }}" title="{{ article.image.title }}" loading="lazy">
    </picture>
  </div>
</div>

<div class="spacer-2"></div>
<article class="article-content col-8 indented-2">
  {% for part in article[locale].body %}
    {% if part.__typename == "TextBlockRecord" %}
      {{ part.text | markdown | safe }}
    {% elif part.__typename == "ImageBlockRecord" %}
      <div class="article-images-wrapper article-images-{{ part.images|length }}">
        {% for image in part.images %}
          <picture>
            <source type="image/webp" media="(min-width: 785px)" srcset="{{ image.url }}?fm=webp&q=70&w=920 1x, {{ image.url }}?fm=webp&q=70&w=1940 2x">
            <source type="image/webp" media="(max-width: 784px)" srcset="{{ image.url }}?fm=webp&q=70&w=500 1x, {{ image.url }}?fm=webp&q=70&w=1000 2x">
            <source type="image/jpeg" media="(min-width: 785px)" srcset="{{ image.url }}?fm=jpg&fl=progressive&q=60&w=920 1x, {{ image.url }}?fm=jpg&fl=progressive&q=60&w=1940 2x">
            <source type="image/jpeg" media="(max-width: 784px)" srcset="{{ image.url }}?fm=jpg&fl=progressive&q=60&w=500 1x, {{ image.url }}?fm=jpg&fl=progressive&q=60&w=1000 2x">
            <img src="{{ image.url }}?fm=jpg&q=60&w=1000" alt="{{ image.alt }}" loading="lazy"/>
          </picture>
        {% endfor %}
      </div>
    {% elif part.__typename == "CodeBlockRecord" %}
      {{ part | renderCode | safe }}
    {% endif %}
  {% endfor %}
</article>