---
layout: base.njk
---

<a class="back-arrow" href="/{{ locale }}/blog">{{ 'back_to_articles' | i18n }}</a>
<div class="spacer-2"></div>
<p><time datetime="{{ article.date | dateISO }}">{{ article.date | dateReadable }}</time></p>
<div class="spacer-1"></div>
<h1>{{ title }}</h1>
<div class="spacer-2"></div>

<div class="featured-image" style="position: relative; background-image: url({{ article.image.base64 }}); background-size: cover;">
  <div style="padding-top: {{100.0 / article.image.aspectRatio}}%;">
    <picture>
        <source srcset="{{ article.image.webpSrcSet }}" type="image/webp" sizes="{{ article.image.sizes }}">
        <source srcset="{{ article.image.srcSet }}" sizes="{{ article.image.sizes }}">
        <img src="{{ article.image.src }}" alt="{{ article.image.alt }}" title="{{ article.image.title }}" loading="lazy">
    </picture>
  </div>
</div>

<div class="spacer-2"></div>
<div class="article-content col-8 indented-3">{{ content | safe }}</div>