---
layout: base.njk
---

<div class="row prototype-intro">
    <div class="col-4 prototype-intro__text">
        <h1>{{ proto.data[locale].name }}</h1>
        <div class="spacer-1"></div>
        <img src="/static/img/prototype-arrow.svg" />
        <p>
            <span>Stagione:</span><b>{{ proto.data[locale].seasons }}</b><br/>
            <span>Velocità:</span><b>128km/h</b>
        </p>
    </div>
    <img class="col-8 prototype-intro__img"src="{{ proto.data[locale].featuredImage }}" alt="pulsar"/>
</div>


<div class="prototype-features col-8">
    <div class="spacer-7"></div>
    <h1>{{ 'Features' | i18n }}</h1>
    <p>
        <ul>
        <li>Sandwich carbon-PVC-kevlar outer shell</li>
        <li>Sandwich carbon-PVC-carbon panel frame</li>
        <li>Protection cage structure and roll-bar</li>
        <li>Wheels 20”​ (406)</li>
        <li>Double-camera vision system</li>
        <li>Front wheel drive with electronic moving cassette (patent pending)</li>
        <li>108T circular chainring</li>
        <li>Double rear disk brake</li>
        </ul>
        
    </p>
</div>


<div class="prototype-history col-8 indented-4">
    <div class="spacer-8"></div>
    <h1>{{ 'History' | i18n }}</h1>
    <p>
    Taurus is the 3rd streamliner of the Team, the 2nd designed to attempt the land speed record at the World Human Powered Speed Challenge in Battle Mountain, Nevada.
    ​Andrea Gallo reached 126.89 km/h in 2017 and 133.26 km/h in 2018 with the last upgrade of the bike.
    ​Andrea Gallo in Taurus reached 136.49 km/h in 2019 with the last upgrade of the bike.
    </p>
</div>


<div class="prototype-gallery">
    <div class="spacer-8"></div>
    <h1>{{ 'Gallery' | i18n }}</h1>
    <div class="spacer-1"></div>
    <div class="prototype-gallery__wrapper">
        <img src="https://via.placeholder.com/300x300" alt=""/>
        <img src="https://via.placeholder.com/300x300" alt=""/>
        <img src="https://via.placeholder.com/300x300" alt=""/>
        <img src="https://via.placeholder.com/300x300" alt=""/>
        <img src="https://via.placeholder.com/300x300" alt=""/>
        <img src="https://via.placeholder.com/300x300" alt=""/>
        <img src="https://via.placeholder.com/300x300" alt=""/>
        <img src="https://via.placeholder.com/300x300" alt=""/>
        <img src="https://via.placeholder.com/300x300" alt=""/>
        <img src="https://via.placeholder.com/300x300" alt=""/>
      </div>
</div>
