---
layout: base.njk
---

{% set prototype=proto %}

<div class="row prototype-intro">
    <div class="col-4 prototype-intro__text">
        <h1>{{ prototype.name }}</h1>
        <div class="spacer-1"></div>
        <img src="/static/img/prototype-arrow.svg" />
        <p>
            <span>{{ "season" | i18n | upfirst }}:</span><b>{{ prototype.season }}</b><br/>
            <span>{{ "speed" | i18n | upfirst }}:</span><b>{{ prototype.speed }}km/h</b>
        </p>
    </div>
    <img class="col-8 prototype-intro__img"src="{{ prototype.image.url }}" alt="{{ prototype.name }}"/>
</div>


<div class="prototype-features col-8">
    <div class="spacer-7"></div>
    <h1>{{ 'Features' | i18n | upfirst }}</h1>
    {% if locale=="it" %}
        {{ prototype.features_it | markdown | safe }}
    {% else %}
        {{ prototype.features_en | markdown | safe }}
    {% endif %}
</div>


<div class="prototype-history col-8 indented-4">
    <div class="spacer-8"></div>
    <h1>{{ 'History' | i18n | upfirst }}</h1>
    {% if locale=="it" %}
        {{ prototype.history_it | markdown | safe  }}
    {% else %}
        {{ prototype.history_en | markdown | safe  }}
    {% endif %}
</div>


<div class="prototype-gallery">
    <div class="spacer-8"></div>
    <h1>{{ 'Gallery' | i18n }}</h1>
    <div class="spacer-1"></div>
    <div class="prototype-gallery__wrapper">
        {% for image in prototype.gallery %}
            <a href="{{ image.url }}?w=1600&h=1400" title="{{ image.alt }}"><img src="{{ image.preview }}" alt="{{ image.alt }}"/></a>
        {% endfor %}
      </div>
</div>
