{% extends "layouts/base.njk" %}

{{ content | safe }}

{% block post_container %}
    <section class="partners">
        <div class="partners-container">
            <h1>Partners</h1>
            <div class="logos-wrapper indented-2">
                <img src="/static/img/partner.png" alt=""/>
                <img src="https://via.placeholder.com/500x500" alt=""/>
                <img src="https://via.placeholder.com/300x50" alt=""/>
                <img src="https://via.placeholder.com/800x200" alt=""/>
                <img src="https://via.placeholder.com/300x500" alt=""/>
                <img src="/static/img/partner.png" alt=""/>
                <img src="https://via.placeholder.com/500x500" alt=""/>
                <img src="https://via.placeholder.com/300x50" alt=""/>
                <img src="https://via.placeholder.com/800x200" alt=""/>
                <img src="https://via.placeholder.com/300x500" alt=""/>
            </div>
        </div>
    </section>
{% endblock %}