{% extends "layouts/base.njk" %}

{{ content | safe }}

{% block post_container %}
    <section class="partners">
        <div class="partners-container">
            <h1>Partners</h1>
            <div class="spacer-1"></div>
            <div class="logos-wrapper indented-2">
                {% for partner in partners %}
                    {% if partner.website %}
                        <a href="{{ partner.website }}" target="_blank">
                    {% endif %}
                    <img src="{{ partner.logo.url }}" alt="{{ partner.name }} logo"/>
                    {% if partner.website %}
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}