//******* SCSS VARIABLES *******

/******** COLORS ********/
$green: #a8c81e;
$scrollbar-bg: #f4f7ed; 
$scrollbar-main: #a4a4a4;


// DESKTOP
// -- typography desktop
$d_h1-font-size: 72px;
$d_h1-line-height: 56px;

$d_h2-font-size: 38px;
$d_h2-line-height: 56px;

$max-width: 1440px;

$d_columns: 12;
$d_margin: 24px;
$d_gutter: 32px;
$d_p-line-height: 32px;
$d_p-font-size: 26px;


// MOBILE

// -- typography mobile
$m_h1-font-size: 38px;
$m_h1-line-height: 44px;

$m_h2-font-size: 22px;
$m_h2-line-height: 44px;

$m_p-font-size: 18px;
$m_p-line-height: 22px;

$m_margin: 18px;
$m_gutter: 22px;


$logo-width: 120px;
$switcher-width: 60px;
$max-width-links: 800px;
$header-height: 120px;
$header-bg: rgba(37, 37, 37, 0.8);
$header-blur: blur(7px);

$team-white: #f4f7ed