.contact{
    display: flex;
    justify-content: space-between;
    margin-bottom: #{2*$d_margin};

    img{
        border-radius: 8px;
        width: calc(30% - #{$d_margin/2});
        height: 100%;
    }
    .contact-details{
        width: calc(70% - #{$d_margin/2});
        a {
            text-decoration: underline;
            color: $green;
            &::after{
                content: "↗";
                display: inline-block;
                vertical-align: -3px;
                height: 15px;
            }
        }
    }
    .contacts-list{
        margin-top: #{1*$d_margin};
    }
}

@mixin contact--mobile{
    .contact{
        flex-direction: column;
        margin-bottom: #{2*$m_margin};
    
        img{
            border-radius: 8px;
            width: 100%;
        }
        .contact-details{
            width: 100%;
            margin-top: #{1*$m_margin};
        }
        .contacts-list{
            margin-top: 0px;
        }
    }
}