// styling only a, p, h1, h2, etc components
a{
    text-decoration: none;
    color: inherit;
}

p{
    a{
        text-decoration: underline;
        color: $green;
        &::after{
            content: "↗";
            display: inline-block;
            vertical-align: -3px;
            height: 15px;
        }
    }
}

