#container{
    margin-top: $header-height;
}

header{
    user-select: none;
}

.header--desktop--wrapper{
    height: 120px;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 999;
}

/* if backdrop support: very transparent and blurred */
@supports ((-webkit-backdrop-filter: $header-blur) or (backdrop-filter: $header-blur)) {
    .header--desktop--wrapper {
        background-color: $header-bg;
        backdrop-filter: $header-blur;
        -webkit-backdrop-filter: $header-blur;
    }
}

.header--desktop{
    height: $header-height;
    margin: auto;
    display: flex;
    align-items: center;    
    max-width: 1440px;

    span, a {
        font-size: 20px;
        line-height: 22px;
        color: $team-white;
    }

    .active {
        color: $green;
    }
    
    & .header__logo {
        flex: 0 0 $logo-width;
        margin-left: $d_margin;
    }

    & .header__switcher{
        flex: 0 0 $switcher-width;
        margin-right: $d_margin;
        display: flex;
        justify-content: space-between;

        & a{
            text-decoration: none;            
        }

        & .separator {
            width: 1px;
            height: 18px;
            margin-top: 2px;
            background-color: $team-white;
        }
    }
    
    & .header__links{
        max-width: $max-width-links;
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        padding-left: 15px;
        padding-right: 15px;

        & a{
            text-transform: uppercase;
            text-decoration: none;
        }
    }
}

.header--white{
    svg path{
        fill: white !important;
    }
    span, a {
        color: white;
    }
    .active {
        color: black;
    }
}

.header--mobile{
    display: none;
}

@mixin header--1024(){
    #container{
        margin-top: 65px;
    }
    .header--desktop, .header--desktop--wrapper{
        display: none;
    }
    .header--mobile{
        display: block;

        .header__bar{
            height: 65px;
            display: flex;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 18px;
            box-sizing: border-box;
            border-bottom: 1px solid black;
            align-items: center;
            position: fixed;
            left: 0;
            right: 0;
            background-color: white;
            z-index: 999;
        }

        .active {
            color: $green;
        }

        .header__logo{
            width: 160px;
            a{
                display: flex;
                flex-direction: column;
            }
        }

        .header__buttons{
            display: flex;
            align-items: center;

            span {
                padding-right: 10px;
                border-right: 1px solid #000;
            }
            svg{
                width: 40px;
                padding: 7px;
                margin-left: 3px;
                box-sizing: border-box;
                cursor: pointer;
            }
        }

        .header__overlay{
            @include basic-transition;
            &--hidden{
                top: #{-559px - $m_margin};
            }
            position: fixed;
            top: 65px;
            left: 0;
            padding-top: $m_gutter;
            padding-left: $m_margin;
            right: 0;
            padding-right: $m_margin;
            z-index: 998;
            background-color: white;
            border-bottom: 1px solid #000;

            .pages, .languages{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-bottom: $m_p-line-height;
            }

            .header__links a, .header__switcher span{
                padding: 3px 0px 3px 0px;
            }

            .header__links > a, .header__switcher > span{
                padding-top: 0px;
            }

            & .label{
                color: #6B6B6B;
                width: calc(50% - #{$m_gutter/2});
                text-align: right;
            }
            
            & .right-block{
                width: calc(50% - #{$m_gutter/2});
                align-items: flex-start;
                display: flex;
                flex-direction: column;
            }
        }

        
    }
}
