.person-card{
    width: calculate_width($d_columns, 3, $d_margin);
    margin-bottom: $d-p_line_height;
    margin-right: $d_margin;
    &:nth-child(4n){
        margin-right: 0px;
    }
    img{
        object-fit: cover;
        border-radius: 8px;
        width: 100%;
    }
    a{
        text-decoration: underline;
        color: $green;
        &::after{
            content: "↗";
            display: inline-block;
            vertical-align: -3px;
            height: 15px;
        }
    }
}

@mixin person-card--mobile{
    .person-card{
        margin-right: $m_margin;
        width: calculate_width(2, 1, $m_margin);
    }
    &:nth-child(even){
        margin-right: 0px;
    }
}