.sponsor{
    display: flex;
    justify-content: space-between;
    margin-bottom: #{3*$d-p_line_height};
    .sponsor-image{
        width: calc(50% - #{$d_margin/2});
        height: 100%;
        border-radius: 8px;
    }
    .sponsor-details{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: calc(50% - #{$d_margin/2});
        p{
            flex-grow: 1;
            margin-top: $d-p_line_height;
            margin-bottom: $d-p_line_height;
        }
        img{
            margin-left: auto;
            margin-right: auto;
            display: block;
            max-width: 100%;
        }
        a{
            text-align: right;
            &::after{
                content: " ->";
                color: $green;
            }
        }
    }
}