.sponsor{
    display: flex;
    justify-content: space-between;
    margin-bottom: #{4*$d-p_line_height};
    .sponsor-image{
        width: calc(50% - #{$d_margin/2});
        height: 100%;
        border-radius: 8px;
    }
    .sponsor-details{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: calc(50% - #{$d_margin/2});
        p{
            flex-grow: 1;
            margin-top: $d-p_line_height;
            margin-bottom: $d-p_line_height;
        }
        img{
            margin-left: auto;
            margin-right: auto;
            display: block;
            max-width: 100%;
            object-fit: contain;
        }
        a{
            text-align: right;
            &::after{
                content: " ->";
                color: $green;
            }
        }
    }
}

@mixin sponsor--mobile{
    .sponsor{
        flex-direction: column;
        margin-bottom: #{3*$m-p_line_height};
        .sponsor-image{
            width: 100%;
        }
        .sponsor-details{
            width: 100%;
            p{
                margin-top: $m-p_line_height;
                margin-bottom: $m-p_line_height;
            }
            img{
                margin-top: #{1*$m-p_line_height};
                width: 100%;
                max-height: 90px;
            }
        }
    }
}