<div class="article-preview">
  <a href="/{{ locale }}/blog/{{ article[locale].slug }}/"><img src="{{ article.image_preview.src }}"/></a>
  <div class="article-preview__infos">
    <p class="article-preview__date">{% dateReadable date=article.date, locale=locale  %}</p>
    <h2 class="article-preview__title"><a href="/{{ locale }}/blog/{{ article[locale].slug }}/">{{ article[locale].title }}</a></h2>
    <p class="article-preview__desc">
      {{ article[locale].seo.description | striptags(true) | truncate(200) }}
    </p>
    <a class="article-preview__link align-bottom" href="/{{ locale }}/blog/{{ article[locale].slug }}/">{{ "read" | i18n }}</a>
  </div>
</div>