<footer class="footer">
    <div class="content">
        <div class="footer__address">
            <h2>Striving for speed</h2>
            <br/>
            <p>
                {{ "we_are_here" | i18n }}:<br/><br/>
                <a href="#">Corso Duca Degli Abruzzi, 24<br/>Torino - 10129</br>Italia</a>
            </p>
        </div>
        <div class="footer__links">
            <a href="/{{locale}}/contacts/">{{ "contacts" | i18n }}</a>
            <a href="https://www.instagram.com/teampolicumbent/">Instagram</a>
            <a href="https://www.linkedin.com/company/team-policumbent/">Linkedin</a>
            <a href="https://www.facebook.com/policumbent/">Facebook</a>
            <a href="https://github.com/policumbent">Github</a>
            <a href="https://www.youtube.com/user/policumbent">Youtube</a>
        </div>
        <div class="footer__infos">
            {# <a href="#">Privacy & Cookie policy</a>
            <br/> #}
            <p>© {{ helpers.currentYear() }} Team Policumbent</p>
            <p>Proudly powered by <a target="_blank" href="https://datocms.com">DatoCMS</a></p>
        </div>
    </div>
</footer>