<footer class="footer">
    <div class="content">
        <div class="footer__address">
            <h2>Policumbent - Striving for speed</h2>
            <br/>
            <p>
                {{ "we_are_here" | i18n }}:<br/><br/>
                <a href="https://www.google.com/maps/place/Politecnico+di+Torino/@45.0624049,7.6618244,19z/data=!4m5!3m4!1s0x0:0xd97006264fbdaf1b!8m2!3d45.062404!4d7.6623716" target="_blank">Corso Duca Degli Abruzzi, 24<br/>Torino - 10129</br>Italia</a>
            </p>
        </div>
        <div class="footer__links">
            <a href="/{{locale}}/contacts/">{{ "contacts" | i18n }}</a>
            <a target="_blank" href="https://whpsc-sim.policumbent.it/">WHPSC sim</a>
            <a target="_blank" href="https://www.instagram.com/policumbent/">Instagram</a>
            <a target="_blank" href="https://www.linkedin.com/company/policumbent/">Linkedin</a>
            <a target="_blank" href="https://www.facebook.com/policumbent/">Facebook</a>
            <a target="_blank" href="https://github.com/policumbent">Github</a>
            <a target="_blank" href="https://www.youtube.com/user/policumbent">Youtube</a>
        </div>
        <div class="footer__infos">
            <p>{{ "thanks_poli_message" | i18n }}<a href="https://www.polito.it" target="_blank">Politecnico di Torino</a></p>
            <div class="spacer-1"></div>
            <img src="/static/img/logo_poli_white.svg" alt="logo politecnico di torino">
            <div class="spacer-1"></div>
            <p>Proudly powered by <a target="_blank" href="https://datocms.com">DatoCMS</a></p>
            <p>© {{ helpers.currentYear() }} Team Policumbent</p>
        </div>
    </div>
</footer>