<footer class="footer">
    <div class="content">
        <div class="footer__address">
            <h2>Striving for speed</h2>
            <p>
                {{ "we_are_here" | i18n }}:<br/><br/>
                <a href="#">Corso Duca Degli Abruzzi, 24<br/>Torino - 10129</br>Italia</a>
            </p>
        </div>
        <div class="footer__links">
            <a href="/{{locale}}/contacts/">{{ "contacts" | i18n }}</a>
            <a href="#">Instagram</a>
            <a href="#">Linkedin</a>
            <a href="#">Facebook</a>
            <a href="#">Github</a>
        </div>
        <div class="footer__infos">
            <a href="#">Privacy & Cookie policy</a>
            <br/>
            <p>© 2020 Team Policumbent</p>
        </div>
    </div>
</footer>