<header class="header {% if headerClass %}{{ headerClass }}{% endif %}">
    <div class="header--desktop--wrapper">
        <div class="header--desktop">
            <div class="header__logo">
                <img src="../../static/img/logo.svg" width="963" height="400">
            </div>

            <div class="header__links">
                <a class="{{ 'active' if page.url | length == 4 }}" href="/{{locale}}/">Home</a>
                <a class="{{ 'active' if '/prototypes/' in page.url }}" href="/{{locale}}/prototypes/">{{ "prototypes" | i18n }}</a>
                <a class="{{ 'active' if '/team/' in page.url }}" href="/{{locale}}/team/">Team</a>
                <a class="{{ 'active' if '/whpsc/' in page.url }}" href="/{{locale}}/whpsc/">WHPSC</a>
                <a class="{{ 'active' if '/european-speed-battle/' in page.url }}" href="/{{locale}}/european-speed-battle/">ESB</a>
                <a class="{{ 'active' if '/partners/' in page.url }}" href="/{{locale}}/partners/">partners</a>
                <a class="{{ 'active' if '/blog/' in page.url }}" href="/{{locale}}/blog/">Blog</a>
                <a class="{{ 'active' if '/contacts/' in page.url }}" href="/{{locale}}/contacts/">{{ "contacts" | i18n }}</a>
            </div>

            <div class="header__switcher">
                {% if locale=="it" %}
                    <span class="active">IT</span>
                    <span class="separator"></span>
                    <span><a href="/en{{ noLangUrl_en if noLangUrl_en|length else noLangUrl }}">EN</a></span>
                {% else %}
                    <span><a href="/it{{ noLangUrl_it if noLangUrl_it|length else noLangUrl }}">IT</a></span>
                    <span class="separator"></span>
                    <span class="active">EN</span>                    
                {% endif %}
            </div>
        </div>
    </div>
    <div class="header--mobile mobile-only">
        <div class="header__bar">
            <div class="header__logo">
                <a href="/{{locale}}/">
                    <img src="../../static/img/mobile_logo.svg" width="140" height="16">
                </a>
            </div>

            <div class="header__buttons">
                <span class="upfirst">
                {{ 'home' if page.url | length == 4 }}
                {{ "prototypes" | i18n if '/prototypes/' in page.url }}
                {{ 'Team' if '/team/' in page.url }}
                {{ "WHPSC" if '/whpsc/' in page.url }}
                {{ "ESB" if '/european-speed-battle/' in page.url }}
                {{ 'partners' if '/partners/' in page.url }}
                {{ 'Blog' if '/blog/' in page.url }}
                {{ "contacts" | i18n if '/contacts/' in page.url }}
                </span>
                <svg id="header__open-menu" viewBox="0 0 26 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <line x1="1.31134e-07" y1="1.5" x2="26" y2="1.5" stroke="black" stroke-width="2"/>
                    <line x1="8" y1="17.5" x2="26" y2="17.5" stroke="black" stroke-width="2"/>
                    <line x1="4" y1="9.5" x2="26" y2="9.5" stroke="black" stroke-width="2"/>
                </svg>
                <svg id="header__close-menu" class="hidden" viewBox="0 0 26 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <line x1="1.06066" y1="1.06043" x2="17.3241" y2="17.3239" stroke="black" stroke-width="2"/>
                    <line x1="17.3241" y1="1.06066" x2="1.06063" y2="17.3241" stroke="black" stroke-width="2"/>
                </svg>
            </div>
        </div>

        <div id="header__overlay" class="header__overlay header__overlay--hidden">
            <div class="pages">
                <span class="label">{{ "page" | i18n }}:</span>
                <div class="header__links right-block">
                    <a class="upfirst {{ 'active' if page.url | length == 4 }}" href="/{{locale}}/">Home</a>
                    <a class="upfirst {{ 'active' if '/prototypes/' in page.url }}" href="/{{locale}}/prototypes/">{{ "prototypes" | i18n }}</a>
                    <a class="upfirst {{ 'active' if '/team/' in page.url }}" href="/{{locale}}/team/">Team</a>
                    <a class="upfirst {{ 'active' if '/whpsc/' in page.url }}" href="/{{locale}}/whpsc/">WHPSC</a>
                    <a class="upfirst {{ 'active' if '/european-speed-battle/' in page.url }}" href="/{{locale}}/european-speed-battle/">ESB</a>
                    <a class="upfirst {{ 'active' if '/partners/' in page.url }}" href="/{{locale}}/partners/">partners</a>
                    <a class="upfirst {{ 'active' if '/blog/' in page.url }}" href="/{{locale}}/blog/">Blog</a>
                    <a class="upfirst {{ 'active' if '/contacts/' in page.url }}" href="/{{locale}}/contacts/">{{ "contacts" | i18n }}</a>
                </div>
            </div>
            <div class="languages">
                <span class="label">{{ "language" | i18n }}:</span>
                <div class="header__switcher right-block">
                    {% if locale=="it" %}
                        <span class="active">Italiano</span>
                        <span class="separator"></span>
                        <span><a href="/en{{ noLangUrl_en if noLangUrl_en|length else noLangUrl }}">English</a></span>
                    {% else %}
                        <span><a href="/it{{ noLangUrl_it if noLangUrl_it|length else noLangUrl }}">Italiano</a></span>
                        <span class="separator"></span>
                        <span class="active">English</span>
                    {% endif %}
                </div>
            </div>
        </div>
        
    </div>
</header>