<div class="home-intro" id="home-intro">
    <div id="animation-container">
      <div class="image-container">
        <img id='back' src="/static/img/taurus_scroll_new/back.png">
        <img id='external' src="/static/img/taurus_scroll_new/external.png">
        <img id='internal' src="/static/img/taurus_scroll_new/internal.jpg">
      </div>    
      {# <h1>we build the world’s fastest bikes</h1> #}
      <img id="intro-text" src="/static/img/home-intro.svg" alt="we build the fastest bikes in the world"/>
    </div>
    
  </div>