<div class="home-intro" id="home-intro">
    <div id="animation-container">
      <div class="image-container">
        <img id='back' src="/static/img/taurus_scroll_new/codino_1x.png" srcset="/static/img/taurus_scroll_new/codino_1x.png, /static/img/taurus_scroll_new/codino_2x.png 2x">
        <img id='external' src="/static/img/taurus_scroll_new/muso_1x.png" srcset="/static/img/taurus_scroll_new/muso_1x.png, /static/img/taurus_scroll_new/muso_2x.png 2x">
        <img id='internal' src="/static/img/taurus_scroll_new/telaio_1x.png" srcset="/static/img/taurus_scroll_new/telaio_1x.png, /static/img/taurus_scroll_new/telaio_2x.png 2x"> 
      </div>    
      {# <h1>we build the world’s fastest bikes</h1> #}
      <div class="intro-text-wrapper">
        <img id="intro-text" src="/static/img/home-intro_new.svg" alt="we build the fastest bikes in the world"/>
      </div>
    </div>
    
  </div>