<div class="home-intro" id="home-intro">
    <div id="animation-container">
      <div class="image-container">
        <img id='back' src="/static/img/taurus_scroll/codino_1x.png" srcset="/static/img/taurus_scroll/codino_1x.png, /static/img/taurus_scroll/codino_2x.png 2x">
        <img id='external' src="/static/img/taurus_scroll/muso_1x.png" srcset="/static/img/taurus_scroll/muso_1x.png, /static/img/taurus_scroll/muso_2x.png 2x">
        <img id='internal' src="/static/img/taurus_scroll/telaio_1x.png" srcset="/static/img/taurus_scroll/telaio_1x.png, /static/img/taurus_scroll/telaio_2x.png 2x"> 
      </div>    
      {# <h1>we build the world’s fastest bikes</h1> #}
      <div class="intro-text-wrapper">
        {% if locale=="en" %}
          <img id="intro-text-desktop" src="/static/img/home-intro_desktop_en.svg" alt="we build the fastest bikes in the world"/>
          <img id="intro-text-mobile" src="/static/img/home-intro_mobile_en.svg" alt="we build the fastest bikes in the world"/>
        {% else %}
          <img id="intro-text-desktop" src="/static/img/home-intro_desktop_it.svg" alt="we build the fastest bikes in the world"/>
          <img id="intro-text-mobile" src="/static/img/home-intro_mobile_it.svg" alt="we build the fastest bikes in the world"/>
        {% endif %}
      </div>
    </div>
    
  </div>