<div class="prototype-preview col-6">
  <a href="/{{ locale }}/prototypes/{{ prototype.name | slug }}/">
    <img src="{{ prototype.image.preview }}" alt="{{ prototype.image.alt }}"/>
    <span>{{ prototype.name }}</span>
  </a>
</div>