---
pagination:
  data: site.languages
  size: 1
  alias: lang
  addAllPagesToCollections: true
layout: base.njk
permalink: "/{{ lang.locale }}/blog/"
noLangUrl: /blog/
sitemap:
  priority: 0.9
  changefreq: daily
eleventyComputed:
  metadata:
    title: "Blog"
  locale: "{{lang.locale}}"
---

<h1>Blog:</h1>
<div class="spacer-2"></div>
<div class="articlelist-wrapper">
  {% for article in articles %}
    {% include "article_preview.njk" %}
  {% endfor %}
</div>