---
pagination:
  data: site.languages
  size: 1
  alias: lang
  addAllPagesToCollections: true
layout: base.njk
permalink: "/{{ lang.locale }}/contacts/"
noLangUrl: /contacts/
sitemap:
  priority: 0.8
  changefreq: daily
eleventyComputed:
  locale: "{{lang.locale}}"
---

<h1 class="upfirst">{{ 'contacts' | i18n }}</h1>
<div class="spacer-2"></div>

<div class="indented-2 contacts-wrapper">
  <div class="contact">
    <img src="https://via.placeholder.com/500x500" alt=""/>
    <div class="contact-details">
      <p>Team leader</p>
      <h2>Alberto Congedi</h2>
      <div class="contacts-list">
        <p>Email: <a href="mailto:info@policumbent.it">info@policumbent.it</a></p>
      </div>
    </div>
  </div>
  <div class="contact">
    <img src="https://via.placeholder.com/500x500" alt=""/>
    <div class="contact-details">
      <p>Thecnical advisor</p>
      <h2>Ing. Paolo Baldissera</h2>
      <div class="contacts-list">
        <p>Tel: <a href="tel:+39349xxxxxxx">+39 349xxxxxxx</a></p>
        <p>Email: <a href="mailto:paolo.baldissera@policumbent.it">paolo.baldissera@policumbent.it</a></p>
      </div>
    </div>
  </div>
  <div class="contact">
    <img src="https://via.placeholder.com/500x500" alt=""/>
    <div class="contact-details">
      <p>Academic advisor</p>
      <h2>Prof. Cristina Delprete</h2>
      <div class="contacts-list">
        <p>Tel: <a href="tel:+39349xxxxxxx">+39 349xxxxxxx</a></p>
        <p>Email: <a href="mailto:cristina.delprete@policumbent.it">cristina.delprete@policumbent.it</a></p>
      </div>
    </div>
  </div>
</div>
