---
pagination:
  data: site.languages
  size: 1
  alias: lang
  addAllPagesToCollections: true
layout: base.njk
permalink: "/{{ lang.locale }}/contacts/"
noLangUrl: /contacts/
sitemap:
  priority: 0.8
  changefreq: daily
eleventyComputed:
  metadata:
    title: "{{ 'contacts' | i18n | upfirst | safe }}"
    description: "{{ 'contacts_description' | i18n | upfirst | safe }}"
  locale: "{{lang.locale}}"
---

<h1 class="upfirst">{{ 'contacts' | i18n }}</h1>
<div class="spacer-2"></div>

<div class="indented-2 contacts-wrapper">
  {% for referent in referents %}
    <div class="contact">
      <img src="{{ referent.image.url }}?fit=crop&w=500&h=500" alt="{{ referent.name }}"/>
      <div class="contact-details">
        <p>{{ referent.role_it if locale=="it" else referent.role_en }}</p>
        <h2>{{ referent.name }}</h2>
        <div class="contacts-list">
          {% for contact in referent.contacts_it if locale=="it" else referent.contacts_en %}
            <p>{{ contact.contactType }}: {% if "@" in contact.contactToShow %}{{ contact.contactToShow | cryptedMail | safe }}{%else%}<a href="{{ contact.contactUrl }}">{{ contact.contactToShow }}</a>{% endif %}</p>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endfor %}
  
</div>