---
pagination:
  data: site.languages
  size: 1
  alias: lang
  addAllPagesToCollections: true
layout: base.njk
permalink: "/{{lang.locale}}/"
noLangUrl: /
sitemap:
  priority: 1
  changefreq: daily
eleventyComputed:
  locale: "{{ lang.locale }}"
---

<div class="spacer-4"></div>

<h1>{{ "who_we_are" | i18n }}</h1>
<div class="spacer-1"></div>
<div class="row home-team">
  <img src="/static/img/team.jpg" class="col-7"/>
  <p class="col-3 align-bottom">
    {{ "team_short_description" | i18n }}
    <br/>
    <br/>
    <a href="/{{locale}}/team/" class="home-link">{{ "find_out_more" | i18n }}</a>
  </p>
  <div class="col-2">
  </div>
</div>

<div class="spacer-5"></div>

<div class="indented-3">
  <h1>{{ "the_prototypes" | i18n }}</h1>
  <div class="spacer-2"></div>
  <div class="row">

    {% set length = prototypes.length if prototypes.length < 2 else 2 %} 
    {% for i in range(0, length) %}
      {% set prototype = prototypes[i] %}
      {% include "prototype_preview.njk" %}
    {% endfor %}
  </div>
  <div class="spacer-2"></div>
  <a href="/{{locale}}/prototypes/" class="text-right float-right home-link">{{ "show_more" | i18n }}</a>
</div>

<div class="spacer-5"></div>

<h1>Blog</h1>
<div class="spacer-2"></div>

{% set length = articles.length if articles.length < 2 else 2 %} 
{% for i in range(0, length) %}
  {% set article = articles[i] %}
  {% include "article_preview.njk" %}
{% endfor %}

<div class="spacer-2"></div>
<a href="/{{locale}}/blog/" class="home-link col-10">{{ "show_more" | i18n }}</a>

<div class="spacer-4"></div>