---
pagination:
  data: site.languages
  size: 1
  alias: lang
  addAllPagesToCollections: true
layout: base.njk
permalink: "/{{ lang.locale }}/prototypes/"
noLangUrl: /prototypes/
sitemap:
  priority: 0.9
  changefreq: daily
eleventyComputed:
  metadata:
    title: "{{ 'prototypes' | i18n | upfirst }}"
    description: "{{ 'prototypes_description' | i18n | upfirst | safe }}"
  locale: "{{lang.locale}}"
---

<h1 class="upfirst">{{ 'our_prototypes' | i18n }}</h1>
<div class="spacer-1"></div>
<p class="col-7">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel placerat massa. Morbi ac luctus libero. Donec et arcu quis eros euismod sodales. Vivamus pellentesque, massa in rhoncus molestie, orci turpis elementum ligula, at iaculis purus metus ut libero. Donec pharetra quam augue, nec imperdiet lectus egestas tincidunt.</p>
<div class="spacer-2"></div>
<div class="prototypes-wrapper">
  {% for prototype in prototypes %}
    {% include "prototype_preview.njk" %}
  {% endfor %}
</div>