---
pagination:
  data: site.languages
  size: 1
  alias: lang
  addAllPagesToCollections: true
layout: base.njk
permalink: "/{{ lang.locale }}/prototypes/"
noLangUrl: /prototypes/
sitemap:
  priority: 0.9
  changefreq: daily
eleventyComputed:
  locale: "{{lang.locale}}"
  metadata:
    title: "{{ 'our_prototypes' | i18n | upfirst }}"
    description: "{{ 'prototypes_description' | i18n | upfirst | safe }}"
---

<h1 class="upfirst">{{ prototypes_page[locale].title }}</h1>
<div class="spacer-1"></div>
<p class="col-7">{{ prototypes_page[locale].introText | striptags(true) | escape | nl2br }}</p>
<div class="spacer-2"></div>
<div class="prototypes-wrapper">
  {% for prototype in prototypes %}
    {% include "prototype_preview.njk" %}
  {% endfor %}
</div>