---
permalink: "/"
sitemap:
  ignore: true
---
</p>This page is just for development execution, in production Netlify redirect the user laguage-based </p>
<a href="/it/">IT</a>
<br/>
<a href="/en/">EN</a>