---
pagination:
  data: site.languages
  size: 1
  alias: lang
  addAllPagesToCollections: true
layout: sponsors.njk
permalink: "/{{ lang.locale }}/sponsors/"
noLangUrl: /sponsors/
sitemap:
  priority: 0.9
  changefreq: daily
eleventyComputed:
  locale: "{{lang.locale}}"
---

<h1 class="upfirst">{{ 'sponsors' | i18n }}</h1>

<div class="spacer-3"></div>

<section class="sponsors-container indented-2">

  {% for sponsor in sponsors %}

    <div class="sponsor">
      <img class="sponsor-image" src="{{ sponsor.image.url }}?fit=crop&w=500&h=500" alt="{{ sponsor.name }} {{ 'image' | i18n }}"/>
      <div class="sponsor-details">
        <img src="{{ sponsor.logo.url }}" alt="{{ sponsor.name }} logo"/>
        <p>{% if locale=="it" %}{{ sponsor.description_it | striptags(true) | escape | nl2br }}{% else %}{{ sponsor.description_en | striptags(true) | escape | nl2br }}{% endif %}</p>
        <a target="_blank" href="{{ sponsor.website }}">{{ 'visit_their_website' | i18n }}</a>
      </div>
    </div>
  
  {% endfor %}

</section>

{# for the partners see layouts/sponsors.njk #}