---
pagination:
  data: site.languages
  size: 1
  alias: lang
  addAllPagesToCollections: true
layout: sponsors.njk
permalink: "/{{ lang.locale }}/sponsors/"
noLangUrl: /sponsors/
sitemap:
  priority: 0.9
  changefreq: daily
eleventyComputed:
  locale: "{{lang.locale}}"
---

<h1 class="upfirst">{{ 'sponsors' | i18n }}</h1>

<div class="spacer-3"></div>

<section class="sponsors-container indented-2">
  <div class="sponsor">
    <img class="sponsor-image" src="https://via.placeholder.com/500x500" alt=""/>
    <div class="sponsor-details">
      <img src="https://via.placeholder.com/400x130" alt=""/>
      <p>lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel placerat massa. Morbi ac luctus libero. Donec et arcu quis eros euismod sodales. Vivamus pellentesque, massa in rhoncus molestie, orci turpis elementum ligula, at iaculis purus metus ut libero.</p>
      <a href="#">Visita il loro sito</a>
    </div>
  </div>
  
  <div class="sponsor">
    <img class="sponsor-image" src="https://via.placeholder.com/500x500" alt=""/>
    <div class="sponsor-details">
      <img src="https://via.placeholder.com/400x130" alt=""/>
      <p>lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel placerat massa. Morbi ac luctus libero. Donec et arcu quis eros euismod sodales. Vivamus pellentesque, massa in rhoncus molestie, orci turpis elementum ligula, at iaculis purus metus ut libero.</p>
      <a href="#">Visita il loro sito</a>
    </div>
  </div>
  
  <div class="sponsor">
    <img class="sponsor-image" src="https://via.placeholder.com/500x500" alt=""/>
    <div class="sponsor-details">
      <img src="https://via.placeholder.com/400x130" alt=""/>
      <p>lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel placerat massa. Morbi ac luctus libero. Donec et arcu quis eros euismod sodales. Vivamus pellentesque, massa in rhoncus molestie, orci turpis elementum ligula, at iaculis purus metus ut libero.</p>
      <a href="#">Visita il loro sito</a>
    </div>
  </div>
  
  <div class="sponsor">
    <img class="sponsor-image" src="https://via.placeholder.com/500x500" alt=""/>
    <div class="sponsor-details">
      <img src="https://via.placeholder.com/400x130" alt=""/>
      <p>lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel placerat massa. Morbi ac luctus libero. Donec et arcu quis eros euismod sodales. Vivamus pellentesque, massa in rhoncus molestie, orci turpis elementum ligula, at iaculis purus metus ut libero.</p>
      <a href="#">Visita il loro sito</a>
    </div>
  </div>
  
  <div class="sponsor">
    <img class="sponsor-image" src="https://via.placeholder.com/500x500" alt=""/>
    <div class="sponsor-details">
      <img src="https://via.placeholder.com/400x130" alt=""/>
      <p>lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel placerat massa. Morbi ac luctus libero. Donec et arcu quis eros euismod sodales. Vivamus pellentesque, massa in rhoncus molestie, orci turpis elementum ligula, at iaculis purus metus ut libero.</p>
      <a href="#">Visita il loro sito</a>
    </div>
  </div>
  
  <div class="sponsor">
    <img class="sponsor-image" src="https://via.placeholder.com/500x500" alt=""/>
    <div class="sponsor-details">
      <img src="https://via.placeholder.com/400x130" alt=""/>
      <p>lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel placerat massa. Morbi ac luctus libero. Donec et arcu quis eros euismod sodales. Vivamus pellentesque, massa in rhoncus molestie, orci turpis elementum ligula, at iaculis purus metus ut libero.</p>
      <a href="#">Visita il loro sito</a>
    </div>
  </div>

  <div class="sponsor">
    <img class="sponsor-image" src="https://via.placeholder.com/500x500" alt=""/>
    <div class="sponsor-details">
      <img src="https://via.placeholder.com/400x130" alt=""/>
      <p>lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel placerat massa. Morbi ac luctus libero. Donec et arcu quis eros euismod sodales. Vivamus pellentesque, massa in rhoncus molestie, orci turpis elementum ligula, at iaculis purus metus ut libero.</p>
      <a href="#">Visita il loro sito</a>
    </div>
  </div>
</section>

{# for the partners see layouts/sponsors.njk #}