---
pagination:
  data: site.languages
  size: 1
  alias: lang
  addAllPagesToCollections: true
layout: base.njk
permalink: "/{{ lang.locale }}/team/"
noLangUrl: /team/
sitemap:
  priority: 0.9
  changefreq: daily
eleventyComputed:
  metadata:
    title: "Team"
    description: "{{ 'team_description' | i18n | upfirst | safe }}"
  locale: "{{lang.locale}}"
---

<h1 class="upfirst">{{ team_page[locale].title }}</h1>
<div class="spacer-1"></div>
<p class="col-7">
  {{ team_page[locale].introText }}
</p>
<div class="spacer-1"></div>

<div class="col-12 team-photo" style="position: relative; background-image: url({{team_page.image.base64}}); background-size: cover;">
  <div style="padding-top: {{100.0 / team_page.image.aspectRatio}}%;">
    <picture style="position: absolute; left: 0; top: 0; width: 100%">
      <source srcset="{{team_page.image.webpSrcSet}}" type="image/webp" sizes="{{ team_page.image.sizes }}">
      <source srcset="{{team_page.image.srcSet}}" sizes="{{ team_page.image.sizes }}">
      <img class="col-12 team-photo" src="{{team_page.image.src}}" alt="{{ team_page[locale].alt }}">
    </picture>
  </div>
</div>

{# <img class="col-12 team-photo" src="/static/img/team-wide.jpg" alt="policumbent team in nevada"/> #}
<div class="spacer-4"></div>

<section class="people-container">
  {% for department in team %}
    {% if department.members.length > 0 %}
      <div class="department-container">
        <h1>{% if locale=="it" %}{{ department.name_it }}{% else %}{{ department.name_en }}{% endif %}</h1>
        <div class="cards-container indented-2">
          {% for member in department.members %}
            <div class="person-card">
              <picture>
                <source type="image/webp" media="(min-width: 401px)" srcset="{{ member.photo.url }}?fm=webp&q=70&w=270 1x, {{ member.photo.url }}?fm=webp&q=70&w=540 2x">
                <source type="image/webp" media="(max-width: 400px)" srcset="{{ member.photo.url }}?fm=webp&q=70&w=170 1x, {{ member.photo.url }}?fm=webp&q=70&w=340 2x">
                <source type="image/jpeg" media="(min-width: 401px)" srcset="{{ member.photo.url }}?fm=jpg&fl=progressive&q=60&w=270 1x, {{ member.photo.url }}?fm=jpg&fl=progressive&q=60&w=540 2x">
                <source type="image/jpeg" media="(max-width: 400px)" srcset="{{ member.photo.url }}?fm=jpg&fl=progressive&q=60&w=170 1x, {{ member.photo.url }}?fm=jpg&fl=progressive&q=60&w=340 2x">
                <img src="{{ member.photo.url }}?fm=jpg&q=60&w=200" alt="{{ member.name }} {{ member.surname }} {{ "photo" | i18n }}" loading="lazy"/>
              </picture>
              <p>{{ member.name }}&nbsp;{{ member.surname }}</p>
              {% if member.urlText and member.url %}
                <a href="{{ member.url }}" target="_blank">{{ member.urlText }}</a>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  {% endfor %}
</section>