---
pagination:
  data: site.languages
  size: 1
  alias: lang
  addAllPagesToCollections: true
layout: base.njk
permalink: "/{{ lang.locale }}/whpsc/"
noLangUrl: /whpsc/
sitemap:
  priority: 0.8
  changefreq: weekly
eleventyComputed:
  metadata:
    title: "WHPSC"
    description: "{{ 'whpsc_description' | i18n | upfirst | safe }}"
    image: "{{ whpsc_page.it.og_image.url | safe }}"
  locale: "{{lang.locale}}"
---

<h1 class="upfirst">{{ whpsc_page[locale].title }}</h1>
<div class="spacer-1"></div>
<div class="col-12 border-radius" style="position: relative; background-image: url({{ whpsc_page[locale].image.responsiveImage.base64 }}); background-size: cover;">
  <div style="padding-top: {{ 100.0 / whpsc_page[locale].image.responsiveImage.aspectRatio }}%;">
    <picture style="position: absolute; left: 0; top: 0; width: 100%">
      <source srcset="{{ whpsc_page[locale].image.responsiveImage.webpSrcSet }}" type="image/webp" sizes="{{ whpsc_page[locale].image.responsiveImage.sizes }}">
      <source srcset="{{ whpsc_page[locale].image.responsiveImage.srcSet }}" sizes="{{ whpsc_page[locale].image.responsiveImage.sizes }}">
      <img class="col-12 border-radius" src="{{ whpsc_page[locale].image.responsiveImage.src }}" alt="{{ whpsc_page[locale].image.responsiveImage.alt }}">
    </picture>
  </div>
</div>
<div class="spacer-1"></div>
<div class="indented-3">{{ whpsc_page[locale].introText | upfirst | markdown | safe }}</div>
<div class="spacer-2"></div>
<img class="indented-3" src="/static/img/usa-map.svg" alt=""/>

<div class="spacer-3"></div>

<h1 class="upfirst">{{ whpsc_page[locale].raceTitle }}</h1>
<div class="spacer-1"></div>
<p class="col-12">{{ whpsc_page[locale].raceIntroText | upfirst }}</p>
<div class="spacer-2"></div>

<div class="race-parts-wrapper indented-2">
  {% for race_part in whpsc_page[locale].raceParts %}
    <div class="row">
      <div class="race-part-info col-6">
        <h2>{{ race_part.name }}</h2>
        <p>{{ race_part.description }}</p>
      </div>
      <picture class="col-6">
        <source srcset="{{ race_part.image.url }}?fm=webp&q=70&w=800&h=500&fit=crop" type="image/webp">
        <source srcset="{{ race_part.image.url }}?fm=jpg&q=60&w=800&h=500&fit=crop" type="image/jpeg">
        <img src="{{ race_part.image.url }}?fm=jpg&q=60&w=400&h=250&fit=crop" alt="{{ race_part.image.alt }}" loading="lazy"/>
      </picture>
    </div>
  {% endfor %}
</div>

<div class="spacer-3"></div>

<h1 class="upfirst">{{ whpsc_page[locale].resultsTitle }}</h1>
<div class="spacer-1"></div>
<p class="col-12">{{ whpsc_page[locale].resultsIntroText | upfirst }}</p>
<div class="spacer-2"></div>

<div class="past-race-wrapper indented-2">
  {% for race_edition in whpsc_page[locale].raceEditions %}
    <div class="race">
    <input type="checkbox" {% if loop.index == 1 %} checked="true" {% endif %} name="collapse" id="handle{{ loop.index }}">
    <div class="race__title"><label for="handle{{ loop.index }}"><h1>{{ race_edition.title }}</h1><img class="open-icon" src ="/static/img/open-arrow.svg" alt=""/><img class="close-icon" src ="/static/img/close-arrow.svg" alt=""/></label></div>
    <div class="race__content">
      <div>
        {{ race_edition.text | upfirst | markdown | safe  }}
      </div>
      <h2>{{ "gallery" | i18n | upfirst }}</h2>
      <div class="spacer-1"></div>
      <div class="race__gallery">
        {% for image in race_edition.gallery %}
            <a href="{{ image.url }}?w=1600&h=1400" title="{{ image.alt }}">
              <picture>
                <source srcset="{{ image.url }}?w=300&h=300&fit=crop&fm=webp" type="image/webp"/>
                <source srcset="{{ image.url }}?w=300&h=300&fit=crop&fm=jpg&q=60" type="image/webp"/>
                <img src="{{ image.url }}?w=300&h=300&fit=crop&fm=jpg&q=50" alt="{{ image.alt }}" loading="lazy"/>
              </picture>
            </a>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<div class="spacer-3"></div>