---
pagination:
  data: site.languages
  size: 1
  alias: lang
  addAllPagesToCollections: true
layout: base.njk
permalink: "/{{ lang.locale }}/whpsc/"
noLangUrl: /whpsc/
sitemap:
  priority: 0.8
  changefreq: daily
eleventyComputed:
  locale: "{{lang.locale}}"
---

<h1 class="upfirst">WHPSC</h1>
<div class="spacer-1"></div>
<img class="col-12 border-radius" src="/static/img/whpsc.jpg" alt=""/>
<div class="spacer-1"></div>
<p class="indented-3">Ogni anno partecipiamo alla <a href="http://whpsc.com" target="_blank">WHPSC</a> (World Human Powered Speed Challenge), una competizione che si svolge a Battle Mountain, in Nevada, lungo un retilineo di 5 miglia ad un’altitudine di 1408 metri. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed risus sed ante sagittis rutrum. Cras ut massa eget mi dignissim iaculis sit amet at erat. Sed venenatis molestie dolor. Phasellus ut pharetra enim, vitae sodales diam. Pellentesque vitae sem faucibus lectus auctor ullamcorper id non arcu. Morbi quis placerat nibh, eu aliquet justo. Integer pulvinar, lectus at sagittis eleifend, nibh sem hendrerit quam, eget maximus metus ex vel urna.</p>
<div class="spacer-1"></div>
<img class="indented-3" src="/static/img/usa-map.svg" alt=""/>

<div class="spacer-3"></div>

<h1 class="upfirst">La gara</h1>
<div class="spacer-1"></div>
<p class="col-12">La gara è divisa in quattro fasi principali:</p>
<div class="spacer-2"></div>

<div class="race-parts-wrapper indented-2">
  <div class="row">
    <div class="race-part-info col-6">
      <h2>Start</h2>
      <p>Prototypes are brought to the start, where each team helps their cyclists to start. The prototype can be hold by a single person for no more than 15 meters.</p>
    </div>
    <img class="col-6" src="/static/img/start.jpg" alt=""/>
  </div>

  <div class="row">
    <div class="race-part-info col-6">
        <h2>Run</h2>
        <p>Cyclists begin their 8-kilometer run-up. The power profile to be followed is carefully calculated by analysis performance algorithms.</p>
      </div>
      <img class="col-6" src="/static/img/run.jpg" alt=""/>
  </div>

  <div class="row">
    <div class="race-part-info col-6">
      <h2>Timing</h2>
      <p>Prototypes are brought to the start, where each team helps their cyclists to start. The prototype can be hold by a single person for no more than 15 meters.</p>
    </div>
    <img class="col-6" src="/static/img/timing.jpg" alt=""/>
  </div>

  <div class="row">
    <div class="race-part-info col-6">
        <h2>Catching</h2>
        <p>Cyclists begin their 8-kilometer run-up. The power profile to be followed is carefully calculated by analysis performance algorithms.</p>
      </div>
      <img class="col-6" src="/static/img/catching.jpg" alt=""/>
  </div>
</div>

<div class="spacer-3"></div>

<h1 class="upfirst">I nostri risultati</h1>
<div class="spacer-1"></div>
<p class="col-12">Partecipiamo dal 2015, ecco i nostri risultati:</p>
<div class="spacer-2"></div>

<div class="past-race-wrapper indented-2">
  <div class="race">
    <input type="checkbox" name="collapse" id="handle1">
    <div class="race__title"><label for="handle1"><h1>Edizione 2019</h1><img class="open-icon" src ="/static/img/open-arrow.svg" alt=""/><img class="close-icon" src ="/static/img/close-arrow.svg" alt=""/></label></div>
    <div class="race__content">
      <div>
        <p>Nel 2019 ci siamo presentato con ... e ..., siamo riusciti a ... Abbiamo imparato ... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed risus sed ante sagittis rutrum. Cras ut massa eget mi dignissim iaculis sit amet at erat. Sed venenatis molestie dolor. Phasellus ut pharetra enim, vitae sodales diam. Pellentesque vitae sem faucibus lectus auctor ullamcorper id non arcu. Morbi quis placerat nibh, eu aliquet justo. Integer pulvinar, lectus at sagittis eleifend, nibh sem hendrerit quam, eget maximus metus ex vel urna:</p>
        <ul>
          <li>Massima velocià maschile: 450 km/h</li>
          <li>Massima velocià femminile: 492 km/h</li>
        </ul>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed risus sed ante sagittis rutrum. Cras ut massa eget mi dignissim iaculis sit amet at erat. Sed venenatis molestie dolor. Phasellus ut pharetra enim, vitae sodales diam. Pellentesque vitae sem faucibus lectus auctor ullamcorper id non arcu. Morbi quis placerat nibh, eu aliquet justo. Integer pulvinar, lectus at sagittis eleifend, nibh sem hendrerit quam, eget maximus metus ex vel urna</p>
      </div>
      <h2>Galleria</h2>
      <div class="race__gallery">
        <img src="https://via.placeholder.com/300x300" alt=""/>
        <img src="https://via.placeholder.com/300x300" alt=""/>
        <img src="https://via.placeholder.com/300x300" alt=""/>
        <img src="https://via.placeholder.com/300x300" alt=""/>
        <img src="https://via.placeholder.com/300x300" alt=""/>
        <img src="https://via.placeholder.com/300x300" alt=""/>
        <img src="https://via.placeholder.com/300x300" alt=""/>
        <img src="https://via.placeholder.com/300x300" alt=""/>
        <img src="https://via.placeholder.com/300x300" alt=""/>
        <img src="https://via.placeholder.com/300x300" alt=""/>
      </div>
    </div>
  </div>
  <div class="race">
    <input type="checkbox" name="collapse" id="handle2">
    <div class="race__title"><label for="handle2"><h1>Edizione 2018</h1><img class="open-icon" src ="/static/img/open-arrow.svg" alt=""/><img class="close-icon" src ="/static/img/close-arrow.svg" alt=""/></label></div>
    <div class="race__content">
      <div>
        <p>Nel 2019 ci siamo presentato con ... e ..., siamo riusciti a ... Abbiamo imparato ... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed risus sed ante sagittis rutrum. Cras ut massa eget mi dignissim iaculis sit amet at erat. Sed venenatis molestie dolor. Phasellus ut pharetra enim, vitae sodales diam. Pellentesque vitae sem faucibus lectus auctor ullamcorper id non arcu. Morbi quis placerat nibh, eu aliquet justo. Integer pulvinar, lectus at sagittis eleifend, nibh sem hendrerit quam, eget maximus metus ex vel urna:</p>
        <ul>
          <li>Massima velocià maschile: 450 km/h</li>
          <li>Massima velocià femminile: 492 km/h</li>
        </ul>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed risus sed ante sagittis rutrum. Cras ut massa eget mi dignissim iaculis sit amet at erat. Sed venenatis molestie dolor. Phasellus ut pharetra enim, vitae sodales diam. Pellentesque vitae sem faucibus lectus auctor ullamcorper id non arcu. Morbi quis placerat nibh, eu aliquet justo. Integer pulvinar, lectus at sagittis eleifend, nibh sem hendrerit quam, eget maximus metus ex vel urna</p>
      </div>
      <h2>Galleria</h2>
      <div class="race__gallery">
        <img src="https://via.placeholder.com/300x300" alt=""/>
        <img src="https://via.placeholder.com/300x300" alt=""/>
        <img src="https://via.placeholder.com/300x300" alt=""/>
        <img src="https://via.placeholder.com/300x300" alt=""/>
        <img src="https://via.placeholder.com/300x300" alt=""/>
        <img src="https://via.placeholder.com/300x300" alt=""/>
        <img src="https://via.placeholder.com/300x300" alt=""/>
        <img src="https://via.placeholder.com/300x300" alt=""/>
        <img src="https://via.placeholder.com/300x300" alt=""/>
        <img src="https://via.placeholder.com/300x300" alt=""/>
      </div>
    </div>
  </div>
  <div class="race">
    <input type="checkbox" name="collapse" id="handle3">
    <div class="race__title"><label for="handle3"><h1>Edizione 2017</h1><img class="open-icon" src ="/static/img/open-arrow.svg" alt=""/><img class="close-icon" src ="/static/img/close-arrow.svg" alt=""/></label></div>
    <div class="race__content">
      <div>
        <p>Nel 2019 ci siamo presentato con ... e ..., siamo riusciti a ... Abbiamo imparato ... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed risus sed ante sagittis rutrum. Cras ut massa eget mi dignissim iaculis sit amet at erat. Sed venenatis molestie dolor. Phasellus ut pharetra enim, vitae sodales diam. Pellentesque vitae sem faucibus lectus auctor ullamcorper id non arcu. Morbi quis placerat nibh, eu aliquet justo. Integer pulvinar, lectus at sagittis eleifend, nibh sem hendrerit quam, eget maximus metus ex vel urna:</p>
        <ul>
          <li>Massima velocià maschile: 450 km/h</li>
          <li>Massima velocià femminile: 492 km/h</li>
        </ul>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed risus sed ante sagittis rutrum. Cras ut massa eget mi dignissim iaculis sit amet at erat. Sed venenatis molestie dolor. Phasellus ut pharetra enim, vitae sodales diam. Pellentesque vitae sem faucibus lectus auctor ullamcorper id non arcu. Morbi quis placerat nibh, eu aliquet justo. Integer pulvinar, lectus at sagittis eleifend, nibh sem hendrerit quam, eget maximus metus ex vel urna</p>
      </div>
      <h2>Galleria</h2>
      <div class="race__gallery">
        <img src="https://via.placeholder.com/300x300" alt=""/>
        <img src="https://via.placeholder.com/300x300" alt=""/>
        <img src="https://via.placeholder.com/300x300" alt=""/>
        <img src="https://via.placeholder.com/300x300" alt=""/>
        <img src="https://via.placeholder.com/300x300" alt=""/>
        <img src="https://via.placeholder.com/300x300" alt=""/>
        <img src="https://via.placeholder.com/300x300" alt=""/>
        <img src="https://via.placeholder.com/300x300" alt=""/>
        <img src="https://via.placeholder.com/300x300" alt=""/>
        <img src="https://via.placeholder.com/300x300" alt=""/>
      </div>
    </div>
  </div>
  <div class="race">
    <input type="checkbox" name="collapse" id="handle4">
    <div class="race__title"><label for="handle4"><h1>Edizione 2016</h1><img class="open-icon" src ="/static/img/open-arrow.svg" alt=""/><img class="close-icon" src ="/static/img/close-arrow.svg" alt=""/></label></div>
    <div class="race__content">
      <div>
        <p>Nel 2019 ci siamo presentato con ... e ..., siamo riusciti a ... Abbiamo imparato ... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed risus sed ante sagittis rutrum. Cras ut massa eget mi dignissim iaculis sit amet at erat. Sed venenatis molestie dolor. Phasellus ut pharetra enim, vitae sodales diam. Pellentesque vitae sem faucibus lectus auctor ullamcorper id non arcu. Morbi quis placerat nibh, eu aliquet justo. Integer pulvinar, lectus at sagittis eleifend, nibh sem hendrerit quam, eget maximus metus ex vel urna:</p>
        <ul>
          <li>Massima velocià maschile: 450 km/h</li>
          <li>Massima velocià femminile: 492 km/h</li>
        </ul>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed risus sed ante sagittis rutrum. Cras ut massa eget mi dignissim iaculis sit amet at erat. Sed venenatis molestie dolor. Phasellus ut pharetra enim, vitae sodales diam. Pellentesque vitae sem faucibus lectus auctor ullamcorper id non arcu. Morbi quis placerat nibh, eu aliquet justo. Integer pulvinar, lectus at sagittis eleifend, nibh sem hendrerit quam, eget maximus metus ex vel urna</p>
      </div>
      <h2>Galleria</h2>
      <div class="race__gallery">
        <img src="https://via.placeholder.com/300x300" alt=""/>
        <img src="https://via.placeholder.com/300x300" alt=""/>
        <img src="https://via.placeholder.com/300x300" alt=""/>
        <img src="https://via.placeholder.com/300x300" alt=""/>
        <img src="https://via.placeholder.com/300x300" alt=""/>
        <img src="https://via.placeholder.com/300x300" alt=""/>
        <img src="https://via.placeholder.com/300x300" alt=""/>
        <img src="https://via.placeholder.com/300x300" alt=""/>
        <img src="https://via.placeholder.com/300x300" alt=""/>
        <img src="https://via.placeholder.com/300x300" alt=""/>
      </div>
    </div>
  </div>
  <div class="race">
    <input type="checkbox" name="collapse" id="handle5">
    <div class="race__title"><label for="handle5"><h1>Edizione 2015</h1><img class="open-icon" src ="/static/img/open-arrow.svg" alt=""/><img class="close-icon" src ="/static/img/close-arrow.svg" alt=""/></label></div>
    <div class="race__content">
      <div>
        <p>Nel 2019 ci siamo presentato con ... e ..., siamo riusciti a ... Abbiamo imparato ... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed risus sed ante sagittis rutrum. Cras ut massa eget mi dignissim iaculis sit amet at erat. Sed venenatis molestie dolor. Phasellus ut pharetra enim, vitae sodales diam. Pellentesque vitae sem faucibus lectus auctor ullamcorper id non arcu. Morbi quis placerat nibh, eu aliquet justo. Integer pulvinar, lectus at sagittis eleifend, nibh sem hendrerit quam, eget maximus metus ex vel urna:</p>
        <ul>
          <li>Massima velocià maschile: 450 km/h</li>
          <li>Massima velocià femminile: 492 km/h</li>
        </ul>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed risus sed ante sagittis rutrum. Cras ut massa eget mi dignissim iaculis sit amet at erat. Sed venenatis molestie dolor. Phasellus ut pharetra enim, vitae sodales diam. Pellentesque vitae sem faucibus lectus auctor ullamcorper id non arcu. Morbi quis placerat nibh, eu aliquet justo. Integer pulvinar, lectus at sagittis eleifend, nibh sem hendrerit quam, eget maximus metus ex vel urna</p>
      </div>
      <h2>Galleria</h2>
      <div class="race__gallery">
        <img src="https://via.placeholder.com/300x300" alt=""/>
        <img src="https://via.placeholder.com/300x300" alt=""/>
        <img src="https://via.placeholder.com/300x300" alt=""/>
        <img src="https://via.placeholder.com/300x300" alt=""/>
        <img src="https://via.placeholder.com/300x300" alt=""/>
        <img src="https://via.placeholder.com/300x300" alt=""/>
        <img src="https://via.placeholder.com/300x300" alt=""/>
        <img src="https://via.placeholder.com/300x300" alt=""/>
        <img src="https://via.placeholder.com/300x300" alt=""/>
        <img src="https://via.placeholder.com/300x300" alt=""/>
      </div>
    </div>
  </div>
</div>

<div class="spacer-3"></div>